[submodule "themes/air-dsl"]
	path = themes/air-dsl
	url = git@github.com:Alternate-Media/deepspaceman-theme.git
[submodule "public"]
	path = public
	url = git@github.com:Alternate-Media/deep-space-man.git
[submodule "themes\\massively"]
	path = themes\\massively
	url = git@github.com:curtistimson/hugo-theme-massively.git
